body{
    height: 10vw;
    width: 100%;
    background-color:aquamarine;
}

.container{
    text-align: center;
    width: 100%;
    height: 100%;
    

}

.container_title{
    color:darkblue;
    margin-bottom: 1em;
    text-align: center;
    width: 100%;
   
}

.container_paragraph{
    padding: 0.6em;
background-color: blueviolet;
border: none;
color: black;
}

.container_button{
    background-color: deeppink;
}